<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="WARN">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />  
        </Console>  
        <Console name="ConsoleShort" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1} - %msg%n" />  
        </Console>  
    </Appenders>  
    <Loggers>
     	
		<!-- Logger name="jdbc.sqltiming" level="info" additivity="false">
    		<appender-ref ref="ConsoleShort"/>
    	</Logger--> 

		<Logger name="cn.lynu.lyq.signin" level="info" additivity="false">
			<appender-ref ref="ConsoleShort"/>
		</Logger>
        <Root level="error">  
            <AppenderRef ref="Console" />  
        </Root>
    </Loggers>
</Configuration> 